.social-media{
    position: absolute;
    right: 0;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    animation: moveInLeft .5s ease-out;
}

.social-media-header {
    top: 10rem;
}
.social-media-contact {
   bottom: 3rem;
}

.btn-social-media{
    &:not(:last-of-type){
        margin-bottom: 1rem;
    }
    border: none;
    background-color:rgba(white,.9);
    padding: 1rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    transition: all .2s;
    box-shadow: 0 1rem 2rem rgba(black,.5);

    &:hover{
        padding: 1rem 2rem 1rem 1rem;
    }
}

@keyframes moveInLeft{
    0% {
        opacity: 0;
        transform: translateX(10rem)
    }
    100% {
        opacity: 1;
        transform: translateX(0);

    }
}