.menu-fold-box{
    display: none;
    
    @media only screen and (max-width:800px){
        display: flex;
        
    }

    
}

.menu-fold{
    display: flex;
    flex-direction: column;
    background-color: rgba(white,1);
    position: fixed;
    top: 8rem;
    right: 0;
    // animation: goDown .5s;
    box-shadow: 0 1rem 2rem rgba(black,.2);
    // z-index: -10;

    transition: height 500ms 0ms, opacity 500ms 500ms;
}

@keyframes goDown{
    0%{
        transform: translateX(20rem);
    }
    100%{
        transform: translateX(0);
    }
}

.menu-fold-btn{
    // top:1rem;
    // right: 1rem;
    // display: inline-block;
    // height: 100%;
    border: none;
    background-color: $color-yellow;
   outline: none;
    font-family: inherit;
    // padding: 2rem;
    font-size: 1.5rem;
    color: white;
    width: 10rem;


   
}

// .menu-fold-background{
//     position: fixed;
//     top:1.3rem;
//     right: 1.3rem;
//     width: 4rem;
//     height: 4rem;
//     background-image: radial-gradient($color-yellow, $color-brown);
//     border-radius: 100%;
//     z-index: -1;
//     transform: scale(12);
// }
