.project-section{
    display: flex;
    flex-direction: column;
    align-items: center;
     padding: 2rem 0;
     
}
.projects{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.project-box{
    width: 33.3333%;
    height: 35rem;
    position: relative;
    overflow: hidden;
   
    
    
}

.project-box:hover  .project-foto{
    filter: blur(5px);
    transform: scale(1.1);
}

.project-box:hover .project-text{
    opacity: 1;
    font-size: 3rem;
}
.project-foto{
    background-size: cover;
   height: 100%;
   transition: all .5s;

   &--1{
        background-image: url('../img/foto-1.jpg');
   }
   &--2{
    background-image: url('../img/foto-2.jpg');
    }
    &--3{
        background-image: url('../img/foto-3.jpg');
    }
}
.project-text{
    text-align: center;
    font-size: 2rem;
    color: $color-white;
    position: absolute;
   top:50%;
   left: 50%;
   transform: translate(-50%,-50%);
   opacity: 0;
   transition: all .5s;
   padding-bottom: 1rem;
  
    
}