.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  text-align: center;

  @media only screen and (max-width: 650px) {
    padding: 2rem;
  }
  @media only screen and (max-width: 450px) {
    padding: 0.6rem;
  }
}

.about-text {
  margin-bottom: 4rem;
  line-height: 1.4;

  @media only screen and (max-width: 450px) {
    font-size: 1.5rem;
  }
}
