.value-box{
    width: 15rem;
    height: 15rem;
    position: relative;
    perspective: 150rem;
    
    

    &__side{
        box-shadow: 0 1rem 1rem rgba(black,.3);
        height: 15rem;
        width: 15rem;
        border-radius: 50%;
        transition: all .8s ease;
        position: absolute;
        top:0;
        left: 0;
        backface-visibility: hidden;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        

        &--front{
            background-color: $color-yellow;
        }

        &--back{
            border: 1px solid $color-brown;
            transform: rotateY(180deg);
        }
    }

    &:hover &__side--front{
        transform: rotateY(-180deg);
    }

    &:hover &__side--back{
        transform: rotateY(0deg);
    }
}
.value-name{
    padding: 1.5rem 2.5rem;
    font-size: 1.5rem;
    font-weight: 400;
}