@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Montserrat";
  font-weight: 300;
  color: #333;
  font-size: 2rem; }

.logo-nav-bar {
  height: 5rem;
  padding: 1rem 2rem; }
  @media only screen and (max-width: 300px) {
    .logo-nav-bar {
      height: 3rem; } }

.logo-nav-bar-box {
  border: none;
  background-color: white;
  outline: none;
  cursor: pointer; }

.navigation-bar {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 1rem 1rem rgba(51, 51, 51, 0.2);
  z-index: 100; }

.menu {
  display: flex; }
  @media only screen and (max-width: 800px) {
    .menu {
      display: none; } }

.menu-fold-box {
  display: none; }
  @media only screen and (max-width: 800px) {
    .menu-fold-box {
      display: flex; } }

.menu-fold {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: fixed;
  top: 8rem;
  right: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: transform 500ms 0ms;
  transform: translateX(0); }

.hide {
  transition: transform 500ms 0ms;
  transform: translateX(20rem); }

@keyframes goDown {
  0% {
    transform: translateX(20rem); }
  100% {
    transform: translateX(0); } }

.menu-fold-btn {
  border: none;
  background-color: #c89d66;
  outline: none;
  font-family: inherit;
  font-size: 1.5rem;
  color: white;
  width: 10rem; }

.btn-menu {
  border: none;
  background-color: #fff;
  position: relative;
  width: 13rem;
  padding: 1rem;
  cursor: pointer; }
  @media only screen and (max-width: 800px) {
    .btn-menu {
      background-color: transparent; } }
  .btn-menu:hover .btn-menu-text {
    color: white; }
    @media only screen and (max-width: 800px) {
      .btn-menu:hover .btn-menu-text {
        color: #333;
        transform: scale(1.3);
        transition: transform .2s 0s; } }
  .btn-menu:hover:before {
    transform: scaleX(1);
    height: 100%; }
    @media only screen and (max-width: 800px) {
      .btn-menu:hover:before {
        transform: scaleX(0);
        height: 3px; } }
  .btn-menu::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #c89d66;
    transform: scaleX(0);
    transition: transform 0.2s, height 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .btn-menu:focus {
    outline: none; }

.btn-menu-text {
  font-size: 2rem;
  font-family: "Montserrat";
  text-decoration: none;
  color: #333;
  font-weight: 300;
  z-index: 10000;
  position: relative;
  transition: all .2s .2s; }

.header {
  background-image: url(../img/odwazny_konferencyjna1-bw.jpg);
  filter: brightness(0.9);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: all .2s; }

.header:hover {
  background-image: url(../img/odwazny_konferencyjna1.jpg); }

.header__text-box {
  border: 4px solid #c89d66;
  color: #c89d66;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 3rem;
  bottom: 6rem;
  width: 40%;
  border-radius: 2px;
  font-size: 3rem;
  line-height: 1.5; }
  @media only screen and (max-width: 1060px) {
    .header__text-box {
      width: 70%; } }

.social-media {
  position: absolute;
  right: 0;
  display: flex;
  align-items: flex-end;
  flex-direction: column; }

.social-media-header {
  top: 10rem; }

.social-media-contact {
  bottom: 3rem; }

.btn-social-media {
  border: none;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1rem;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  transition: all .2s;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }
  .btn-social-media:not(:last-of-type) {
    margin-bottom: 1rem; }
  .btn-social-media:hover {
    padding: 1rem 2rem 1rem 1rem; }

.language-box {
  position: absolute;
  left: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  top: 10rem; }

.language-btn {
  width: 3rem;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  border: none;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1rem;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: all .2s;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }
  .language-btn:not(:last-of-type) {
    margin-bottom: 1rem; }
  .language-btn:hover {
    padding: 1rem 1rem 1rem 2rem;
    color: #c89d66; }

.active {
  padding: 1rem 1rem 1rem 2rem;
  color: #c89d66; }

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  text-align: center; }
  @media only screen and (max-width: 650px) {
    .about-section {
      padding: 2rem; } }
  @media only screen and (max-width: 450px) {
    .about-section {
      padding: .6rem; } }

.title {
  font-size: 6rem;
  font-weight: 600;
  position: absolute;
  white-space: nowrap;
  text-align: center; }

.title-box {
  margin: 0 -3rem;
  background-image: url("../img/triangle.jpg");
  background-size: cover;
  width: 15rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }

.about-text {
  margin-bottom: 4rem;
  line-height: 1.4; }
  @media only screen and (max-width: 450px) {
    .about-text {
      font-size: 1.5rem; } }

.values {
  display: flex;
  justify-content: space-between; }

.values-box {
  width: 80rem;
  position: relative; }
  @media only screen and (max-width: 830px) {
    .values-box {
      width: 90vw; } }

.value-text-frame {
  border-bottom: 2px solid rgba(200, 157, 102, 0.3);
  border-top: 2px solid rgba(200, 157, 102, 0.3);
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1.6rem; }
  @media only screen and (max-width: 600px) {
    .value-text-frame {
      font-size: 1.4rem; } }
  @media only screen and (max-width: 400px) {
    .value-text-frame {
      font-size: 1.2rem; } }

.value-text-box {
  height: 20rem;
  position: relative;
  transition: all .3s; }
  @media only screen and (max-width: 470px) {
    .value-text-box {
      height: 23rem; } }

.hight-none {
  height: 0; }

.fade-appear {
  opacity: 0;
  z-index: 1; }

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: all 1000ms linear; }

.fade-enter {
  opacity: 0;
  z-index: 1; }

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms linear 250ms; }

/* exit */
.fade-exit {
  opacity: 1; }

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 250ms linear; }

.fade-exit-done {
  opacity: 0; }

.slide-appear {
  opacity: 0;
  z-index: 1; }

.slide-appear.slide-appear-active {
  opacity: 1;
  transition: all 500ms linear; }

.slide-enter {
  opacity: 0;
  transform: scale(0.97) translateY(5px);
  z-index: 1; }

.slide-enter.slide-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0);
  transition: opacity 300ms linear 100ms, transform 300ms ease-in-out 100ms; }

/* slide exit */
.slide-exit {
  opacity: 1;
  transform: scale(1) translateY(0); }

.slide-exit.slide-exit-active {
  opacity: 0;
  transform: scale(0.97) translateY(5px);
  transition: opacity 150ms linear, transform 150ms ease-out; }

.slide-exit-done {
  opacity: 0; }

.value-box {
  width: 15rem;
  height: 15rem;
  position: relative;
  perspective: 150rem;
  padding-bottom: 2rem; }
  @media only screen and (max-width: 670px) {
    .value-box {
      width: 12rem;
      height: 12rem; } }
  @media only screen and (max-width: 540px) {
    .value-box {
      width: 10rem;
      height: 10rem; } }
  @media only screen and (max-width: 450px) {
    .value-box {
      width: 9rem;
      height: 9rem; } }
  @media only screen and (max-width: 410px) {
    .value-box {
      width: 8.5rem;
      height: 8.5rem; } }
  @media only screen and (max-width: 380px) {
    .value-box {
      width: 7rem;
      height: 7rem; } }
  .value-box__side {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    transition: all .6s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 670px) {
      .value-box__side {
        width: 12rem;
        height: 12rem; } }
    @media only screen and (max-width: 540px) {
      .value-box__side {
        width: 10rem;
        height: 10rem; } }
    @media only screen and (max-width: 450px) {
      .value-box__side {
        width: 9rem;
        height: 9rem; } }
    @media only screen and (max-width: 410px) {
      .value-box__side {
        width: 8.5rem;
        height: 8.5rem; } }
    @media only screen and (max-width: 380px) {
      .value-box__side {
        width: 7rem;
        height: 7rem; } }
    .value-box__side--front {
      background-color: #c89d66;
      z-index: 1000;
      color: #fff; }
    .value-box__side--back {
      background-color: #a18a7a;
      transform: rotateY(180deg);
      color: #fff; }

.pl {
  font-size: 2rem; }
  @media only screen and (max-width: 670px) {
    .pl {
      font-size: 1.5rem; } }
  @media only screen and (max-width: 450px) {
    .pl {
      font-size: 1.2rem; } }
  @media only screen and (max-width: 380px) {
    .pl {
      font-size: 1rem; } }

.en {
  font-size: 1.8rem; }
  @media only screen and (max-width: 670px) {
    .en {
      font-size: 1.3rem; } }
  @media only screen and (max-width: 520px) {
    .en {
      font-size: 1.2rem; } }
  @media only screen and (max-width: 450px) {
    .en {
      font-size: 1rem; } }
  @media only screen and (max-width: 380px) {
    .en {
      font-size: .8rem; } }

.value-box-active .value-box__side--front {
  transform: rotateY(-180deg); }

.value-box-active .value-box__side--back {
  transform: rotateY(0deg); }

.svg-size {
  height: 6rem; }
  @media only screen and (max-width: 450px) {
    .svg-size {
      height: 4rem; } }

.services-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 4rem;
  text-align: center; }
  @media only screen and (max-width: 600px) {
    .services-section {
      padding: 0 2rem; } }
  @media only screen and (max-width: 500px) {
    .services-section {
      padding: 0 1rem; } }

.service {
  display: flex;
  width: 100%; }
  @media only screen and (max-width: 890px) {
    .service {
      flex-direction: column; } }

.service-foto {
  width: 50%;
  height: 35rem;
  background-size: cover;
  background-position: center; }
  @media only screen and (max-width: 990px) {
    .service-foto {
      height: 40rem; } }
  @media only screen and (max-width: 890px) {
    .service-foto {
      width: 100%;
      height: 25rem; } }
  .service-foto--1 {
    background-image: url("../img/słońce.png"); }
  .service-foto--2 {
    background-image: url("../img/strzałka.png"); }
  .service-foto--3 {
    background-image: url("../img/serce.png"); }
  .service-foto--4 {
    background-image: url("../img/korona.png"); }

.service-text-box {
  width: 50%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media only screen and (max-width: 890px) {
    .service-text-box {
      width: 100%;
      padding: 2rem 0; } }
  .service-text-box--left {
    text-align: left; }
  .service-text-box--right {
    text-align: right; }
    @media only screen and (max-width: 890px) {
      .service-text-box--right {
        order: 1;
        text-align: left; } }

.service-title {
  font-size: 5rem;
  padding: 0 2rem; }
  @media only screen and (max-width: 1060px) {
    .service-title {
      font-size: 3.5rem; } }

.service-text {
  padding: 0 2rem;
  font-size: 1.5rem; }

.project-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0; }

.projects {
  display: flex;
  width: 100%;
  flex-wrap: wrap; }

.popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100; }

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 2px;
  display: flex;
  padding: 1rem; }
  @media only screen and (max-aspect-ratio: 5 / 4) {
    .popup-content {
      flex-direction: column; } }

.popup-content-left {
  width: 55vw;
  overflow: hidden;
  position: relative;
  flex-shrink: 0; }
  @media only screen and (max-width: 600px) {
    .popup-content-left {
      width: 70vw; } }
  @media only screen and (max-aspect-ratio: 5 / 4) {
    .popup-content-left {
      order: 2;
      width: 90vw; } }

.popup-foto {
  width: 100%; }

.popup-foto-slider-wrapper {
  display: flex;
  align-items: center;
  transition: all ease-out .4s; }
  .popup-foto-slider-wrapper--thumbnails {
    justify-content: center;
    position: relative; }

.popup-content-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start; }
  @media only screen and (max-aspect-ratio: 5 / 4) {
    .popup-content-right {
      order: 1; } }

.popup-btn {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  height: 15rem;
  border-radius: 2px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer; }
  .popup-btn--next {
    right: 0; }
  .popup-btn:hover .popup-arrow--next {
    transform: rotateY(180deg) scale(1.2); }
  .popup-btn:hover .popup-arrow--prev {
    transform: scale(1.2); }

.popup-arrow {
  width: 5rem;
  transition: all .2s; }
  @media only screen and (max-width: 900px) {
    .popup-arrow {
      width: 3rem; } }
  .popup-arrow--next {
    transform: rotateY(180deg); }

.popup-title {
  font-size: 4rem;
  padding: 0 2rem 4rem 2rem; }
  @media only screen and (max-width: 1060px) {
    .popup-title {
      font-size: 2.5rem;
      padding: 2rem; } }
  @media only screen and (max-width: 600px) {
    .popup-title {
      font-size: 1.5rem;
      padding: 1rem; } }

.popup-description {
  font-size: 2rem;
  padding: 0 2rem 3rem 2rem; }
  @media only screen and (max-width: 1060px) {
    .popup-description {
      font-size: 1.5rem;
      padding: 0rem 2rem 2rem 2rem; } }
  @media only screen and (max-width: 600px) {
    .popup-description {
      font-size: 1rem;
      padding: 0 1rem 1rem 1rem; } }

.popup-foto-thumbnail {
  width: 7vw;
  transition: all .2s; }
  @media only screen and (max-aspect-ratio: 5 / 4) {
    .popup-foto-thumbnail {
      width: 9vw; } }
  .popup-foto-thumbnail--active {
    outline: 3px solid #c89d66;
    outline-offset: -3px; }
    @media only screen and (max-width: 600px) {
      .popup-foto-thumbnail--active {
        outline: 1px solid #c89d66;
        outline-offset: -1px; } }

.popup-foto-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer; }

.btn-exit {
  width: 3rem;
  height: 3rem;
  border: 1px solid #c89d66;
  background-color: transparent;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  outline: none;
  border-radius: 100%;
  cursor: pointer;
  transition: all .2s; }
  @media only screen and (max-width: 600px) {
    .btn-exit {
      width: 2rem;
      height: 2rem; } }
  .btn-exit:hover {
    transform: scale(1.2) translateY(-2px); }
  .btn-exit:hover .line--up {
    transform: translateX(-50%) rotate(-45deg); }
  .btn-exit:hover .line--down {
    transform: translateX(-50%) rotate(45deg); }

.line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  transition: all .2s;
  height: 1px;
  background-color: #c89d66; }
  .line--up {
    transform: translate(-50%, -50%) rotate(45deg); }
  .line--down {
    transform: translate(-50%, -50%) rotate(-45deg); }

@keyframes showProject {
  0% {
    height: 0;
    opacity: 0; }
  50% {
    height: 35rem;
    opacity: 0; }
  100% {
    opacity: 1; } }

.project-container {
  width: 33.333334%; }
  @media only screen and (max-width: 890px) {
    .project-container {
      width: 50%; } }
  @media only screen and (max-width: 400px) {
    .project-container {
      width: 100%; } }

.project-box {
  border: none;
  outline: none;
  width: 100%;
  height: 35rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  animation: showProject .5s; }
  @media only screen and (max-width: 600px) {
    .project-box {
      height: 20rem; } }

.project-box:hover .project-foto {
  filter: grayscale(10%) brightness(0.9);
  transform: scale(1.1); }

.project-foto {
  background-size: cover;
  height: 100%;
  transition: all .5s;
  filter: grayscale(70%) brightness(0.7); }

.project-text {
  font-family: "Montserrat";
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .5s; }
  @media only screen and (max-width: 600px) {
    .project-text {
      font-size: 2rem; } }

.show-projects-btn {
  background-color: transparent;
  border: none;
  outline: none; }

.arrow {
  height: 7rem;
  transition: all .5s;
  cursor: pointer;
  transform: rotate(-90deg); }
  .arrow:hover {
    transform: rotate(-90deg) scale(1.2); }
  @media only screen and (max-width: 400px) {
    .arrow {
      height: 4rem; } }

.flip {
  transform: rotate(-90deg) rotateY(180deg); }
  .flip:hover {
    transform: rotate(-90deg) rotateY(180deg) scale(1.2); }

.contact {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 730px) {
    .contact {
      flex-direction: column; } }

.contact-logo {
  width: 40rem;
  height: 40rem;
  background-image: url("../img/logoSqr.jpg");
  background-size: cover;
  background-position: center;
  margin: 0 3rem; }
  @media only screen and (max-width: 880px) {
    .contact-logo {
      margin: 0 2rem;
      width: 30rem;
      height: 30rem; } }
  @media only screen and (max-width: 600px) {
    .contact-logo {
      padding: 0 2rem; } }
  @media only screen and (max-width: 380px) {
    .contact-logo {
      width: 20rem;
      height: 20rem; } }

.contact-text {
  cursor: pointer;
  transition: all .3s;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 2rem;
  color: #747474;
  font-weight: 100;
  outline: none; }

@media only screen and (max-width: 730px) {
  .low {
    padding-bottom: 3rem; } }

.contact-text:hover {
  cursor: pointer;
  color: #c89d66; }
