*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: #fff;
  font-family: "Montserrat";
  font-weight: 300;
  color: #333;
  font-size: 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  margin: 2rem; }

.logo-box {
  width: 15%; }

.logo-nav-bar {
  width: 100%;
  padding: 1.5rem 2rem; }

.navigation-bar {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  box-shadow: 0 1rem 1rem rgba(51, 51, 51, 0.3);
  z-index: 100; }

.menu {
  width: 40%;
  display: flex;
  align-items: stretch; }

.btn-menu {
  border: none;
  background-color: #fff;
  position: relative;
  width: 13rem; }
  .btn-menu__link:link, .btn-menu__link:visited {
    font-size: 2rem;
    font-family: "Montserrat";
    text-decoration: none;
    color: #333;
    font-weight: 300;
    z-index: 10000;
    position: relative;
    transition: all .2s .2s; }
  .btn-menu:hover .btn-menu__link {
    color: white; }
  .btn-menu:hover:before {
    transform: scaleX(1);
    height: 100%; }
  .btn-menu::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #c89d66;
    transform: scaleX(0);
    transition: transform 0.2s, height 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }

.header {
  background-image: url(../img/room-bw.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: top;
  position: relative; }

.text-box {
  border: 4px solid #c89d66;
  color: #c89d66;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 3rem;
  bottom: 6rem;
  width: 40%;
  border-radius: 2px;
  font-size: 3rem;
  line-height: 1.5; }

.social-media {
  position: absolute;
  top: 10rem;
  right: 0;
  display: flex;
  align-items: flex-end;
  flex-direction: column; }

.btn-social-media {
  border: none;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1rem;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  transition: all .2s;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }
  .btn-social-media:not(:last-of-type) {
    margin-bottom: 1rem; }
  .btn-social-media:hover {
    padding: 1rem 2rem 1rem 1rem; }

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  text-align: center; }

.title {
  font-size: 6rem;
  font-weight: 600;
  position: absolute;
  width: 40rem;
  text-align: center; }

.title-box {
  margin: 0 -3rem;
  background-image: url("../img/triangle.jpg");
  background-size: cover;
  width: 15rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }

.about-text {
  margin-bottom: 4rem;
  line-height: 1.4; }

.values {
  width: 70%;
  display: flex;
  justify-content: space-between; }

.value-box {
  width: 15rem;
  height: 15rem;
  position: relative;
  perspective: 150rem; }
  .value-box__side {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; }
    .value-box__side--front {
      background-color: #c89d66; }
    .value-box__side--back {
      border: 1px solid #a18a7a;
      transform: rotateY(180deg); }
  .value-box:hover .value-box__side--front {
    transform: rotateY(-180deg); }
  .value-box:hover .value-box__side--back {
    transform: rotateY(0deg); }

.value-name {
  padding: 1.5rem 2.5rem;
  font-size: 1.5rem;
  font-weight: 400; }

.services-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  text-align: center; }

.service {
  display: flex;
  width: 100%; }

.service-foto {
  width: 50%;
  height: 30rem;
  background-size: cover; }
  .service-foto--1 {
    background-image: url("../img/foto-1.jpg"); }
  .service-foto--2 {
    background-image: url("../img/foto-2.jpg"); }
  .service-foto--3 {
    background-image: url("../img/foto-3.jpg"); }

.service-text-box {
  width: 50%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .service-text-box--left {
    text-align: left; }
  .service-text-box--right {
    text-align: right; }

.service-title {
  font-size: 5rem;
  padding: 0 2rem; }

.service-text {
  padding: 0 2rem; }

.project-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0; }

.projects {
  display: flex;
  width: 100%;
  flex-wrap: wrap; }

.project-box {
  width: 33.3333%;
  height: 35rem;
  position: relative;
  overflow: hidden; }

.project-box:hover .project-foto {
  filter: blur(5px);
  transform: scale(1.1); }

.project-box:hover .project-text {
  opacity: 1;
  font-size: 3rem; }

.project-foto {
  background-size: cover;
  height: 100%;
  transition: all .5s; }
  .project-foto--1 {
    background-image: url("../img/foto-1.jpg"); }
  .project-foto--2 {
    background-image: url("../img/foto-2.jpg"); }
  .project-foto--3 {
    background-image: url("../img/foto-3.jpg"); }

.project-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .5s;
  padding-bottom: 1rem; }

.contact {
  width: 100%;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.contact-logo {
  width: 30%;
  height: 100%;
  background-image: url("../img/logoSqr.jpg");
  background-size: cover;
  background-position: center; }

.contact-text {
  padding: 4rem;
  width: 30%; }
  .contact-text--right {
    text-align: right; }
