*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Montserrat"; }

html {
  font-size: 62.5%; }

body {
  font-weight: 300;
  color: #333;
  font-size: 2rem; }

.title {
  font-size: 6rem;
  font-weight: 600;
  position: absolute;
  white-space: nowrap;
  text-align: center; }

.title-box {
  margin: 0 -3rem;
  background-image: url("../img/triangle.jpg");
  background-size: cover;
  width: 15rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }

.lds-ellipsis {
  display: inline-block;
  position: fixed;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #d8d7d7;
  animation-timing-function: cubic-bezier(0, 1, 1, 0); }

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite; }

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite; }

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite; }

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite; }

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(24px, 0); } }

.logo-nav-bar-box {
  border: none;
  background-color: white;
  outline: none;
  cursor: pointer; }

.logo-nav-bar {
  height: 5rem;
  padding: 1rem 2rem; }
  @media only screen and (max-width: 300px) {
    .logo-nav-bar {
      height: 3rem; } }

.navigation-bar {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 1rem 1rem rgba(51, 51, 51, 0.2);
  z-index: 100; }

.menu {
  display: flex;
  background-color: white; }

.menu-fold {
  flex-direction: column;
  position: fixed;
  top: 8rem;
  right: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: transform 500ms 0ms;
  transform: translateX(0); }

.hide {
  transition: transform 500ms 0ms;
  transform: translateX(20rem); }

.menu-fold-box {
  display: flex; }

.menu-fold-btn {
  border: none;
  background-image: linear-gradient(to right bottom, #e4be8d, #c89d66);
  outline: none;
  font-family: inherit;
  font-size: 1.5rem;
  color: white;
  width: 10rem; }

.menu-btn {
  border: none;
  background-color: white;
  position: relative;
  width: 13rem;
  cursor: pointer;
  padding: 1rem; }
  .menu-btn:hover .menu-btn-text {
    color: white; }
    @media only screen and (max-width: 800px) {
      .menu-btn:hover .menu-btn-text {
        color: #333;
        transform: scale(1.3);
        transition: transform .2s 0s; } }
  .menu-btn:hover:before {
    transform: scaleX(1);
    height: 100%; }
    @media only screen and (max-width: 800px) {
      .menu-btn:hover:before {
        transform: scaleX(0);
        height: 3px; } }
  .menu-btn::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #c89d66;
    transform: scaleX(0);
    transition: transform 0.2s, height 0.4s cubic-bezier(1, 0, 0, 1) 0.2s; }
  .menu-btn:focus {
    outline: none; }

.menu-btn-text {
  font-size: 2rem;
  font-family: "Montserrat";
  text-decoration: none;
  color: #333;
  font-weight: 300;
  z-index: 10000;
  position: relative;
  transition: all .2s .2s; }

.header {
  filter: brightness(0.9);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: all 0.2s;
  background-image: url("../img/header.jpg"); }

.header__text-box {
  border: 4px solid #c89d66;
  color: #c89d66;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 3rem;
  bottom: 6rem;
  width: 40%;
  border-radius: 2px;
  font-size: 3rem;
  line-height: 1.5; }
  @media only screen and (max-width: 1060px) {
    .header__text-box {
      width: 70%; } }

.social-media {
  position: absolute;
  right: 0;
  display: flex;
  align-items: flex-end;
  flex-direction: column; }

.social-media-header {
  top: 10rem; }

.social-media-contact {
  bottom: 3rem; }

.social-media-btn {
  border: none;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1rem;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  transition: all 0.2s;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }
  .social-media-btn:not(:last-of-type) {
    margin-bottom: 1rem; }
  .social-media-btn:hover {
    padding: 1rem 2rem 1rem 1rem; }

.language-box {
  position: absolute;
  left: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  top: 10rem; }

.language-btn {
  width: 2rem;
  outline: none;
  cursor: pointer;
  font-size: 1.3rem;
  font-family: inherit;
  border: none;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1rem;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: all 0.2s;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }
  .language-btn:not(:last-of-type) {
    margin-bottom: 0.5rem; }
  .language-btn:hover {
    padding: 1rem 1rem 1rem 2rem;
    color: #c89d66; }

.active {
  padding: 1rem 1rem 1rem 2rem;
  color: #c89d66; }

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  text-align: center; }
  @media only screen and (max-width: 650px) {
    .about-section {
      padding: 2rem; } }
  @media only screen and (max-width: 450px) {
    .about-section {
      padding: 0.6rem; } }

.about-text {
  margin-bottom: 4rem;
  line-height: 1.4; }
  @media only screen and (max-width: 450px) {
    .about-text {
      font-size: 1.5rem; } }

.appear-enter {
  opacity: 0;
  height: 0; }

.appear-enter-active {
  opacity: 1;
  height: 20rem;
  transition: height 400ms, opacity 400ms 400ms; }
  @media only screen and (max-width: 455px) {
    .appear-enter-active {
      height: 22rem; } }
  @media only screen and (max-width: 400px) {
    .appear-enter-active {
      height: 24rem; } }

.appear-enter-done {
  height: 20rem; }
  @media only screen and (max-width: 455px) {
    .appear-enter-done {
      height: 22rem; } }
  @media only screen and (max-width: 400px) {
    .appear-enter-done {
      height: 24rem; } }

.appear-exit {
  opacity: 1;
  height: 20rem; }
  @media only screen and (max-width: 455px) {
    .appear-exit {
      height: 22rem; } }
  @media only screen and (max-width: 400px) {
    .appear-exit {
      height: 24rem; } }

.appear-exit-active {
  opacity: 0;
  height: 0;
  transition: opacity 400ms, height 400ms 400ms; }

.replace-leave {
  opacity: 1; }

.replace-leave-active {
  opacity: 0;
  transform: scale(0.9);
  transition: all 150ms; }

.replace-enter {
  opacity: 0;
  transform: scale(0.9); }

.replace-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 150ms 150ms; }

.replace-height {
  height: 100%; }

.values-circles {
  display: flex;
  justify-content: space-between; }

.values-box {
  font-size: 1.6rem;
  width: 80rem; }
  @media only screen and (max-width: 830px) {
    .values-box {
      width: 90vw; } }
  @media only screen and (max-width: 600px) {
    .values-box {
      font-size: 1.4rem; } }
  @media only screen and (max-width: 400px) {
    .values-box {
      font-size: 1.2rem; } }

.values-text {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgba(200, 157, 102, 0.3);
  border-top: 2px solid rgba(200, 157, 102, 0.3);
  box-sizing: border-box; }

.value-box {
  width: 15rem;
  height: 15rem;
  position: relative;
  perspective: 150rem;
  padding-bottom: 2rem; }
  @media only screen and (max-width: 670px) {
    .value-box {
      width: 12rem;
      height: 12rem; } }
  @media only screen and (max-width: 540px) {
    .value-box {
      width: 10rem;
      height: 10rem; } }
  @media only screen and (max-width: 450px) {
    .value-box {
      width: 9rem;
      height: 9rem; } }
  @media only screen and (max-width: 410px) {
    .value-box {
      width: 8.5rem;
      height: 8.5rem; } }
  @media only screen and (max-width: 380px) {
    .value-box {
      width: 7rem;
      height: 7rem; } }
  .value-box__side {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    transition: all 0.6s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 670px) {
      .value-box__side {
        width: 12rem;
        height: 12rem; } }
    @media only screen and (max-width: 540px) {
      .value-box__side {
        width: 10rem;
        height: 10rem; } }
    @media only screen and (max-width: 450px) {
      .value-box__side {
        width: 9rem;
        height: 9rem; } }
    @media only screen and (max-width: 410px) {
      .value-box__side {
        width: 8.5rem;
        height: 8.5rem; } }
    @media only screen and (max-width: 380px) {
      .value-box__side {
        width: 7rem;
        height: 7rem; } }
    .value-box__side--front {
      background-image: linear-gradient(to right bottom, #e4be8d, #c89d66);
      z-index: 1000;
      color: #fff; }
    .value-box__side--back {
      background-image: linear-gradient(to right bottom, #bbaba0, #a18a7a);
      transform: rotateY(180deg);
      color: #fff; }

.pl {
  font-size: 2rem; }
  @media only screen and (max-width: 670px) {
    .pl {
      font-size: 1.5rem; } }
  @media only screen and (max-width: 450px) {
    .pl {
      font-size: 1.2rem; } }
  @media only screen and (max-width: 380px) {
    .pl {
      font-size: 1rem; } }

.en {
  font-size: 1.8rem; }
  @media only screen and (max-width: 670px) {
    .en {
      font-size: 1.3rem; } }
  @media only screen and (max-width: 520px) {
    .en {
      font-size: 1.2rem; } }
  @media only screen and (max-width: 450px) {
    .en {
      font-size: 1rem; } }
  @media only screen and (max-width: 380px) {
    .en {
      font-size: 0.8rem; } }

.value-box-active .value-box__side--front {
  transform: rotateY(-180deg); }

.value-box-active .value-box__side--back {
  transform: rotateY(0deg); }

.svg-size {
  height: 6rem; }
  @media only screen and (max-width: 450px) {
    .svg-size {
      height: 4rem; } }

.services-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 4rem; }
  @media only screen and (max-width: 600px) {
    .services-section {
      padding: 0 2rem; } }
  @media only screen and (max-width: 500px) {
    .services-section {
      padding: 0 1rem; } }

.service {
  display: flex; }
  @media only screen and (max-width: 890px) {
    .service {
      flex-direction: column; } }

.service-foto {
  width: 50%;
  height: 35rem;
  background-size: cover;
  background-position: center; }
  @media only screen and (max-width: 990px) {
    .service-foto {
      height: 40rem; } }
  @media only screen and (max-width: 890px) {
    .service-foto {
      width: 100%;
      height: 25rem; } }

.service-text-box {
  width: 50%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media only screen and (max-width: 890px) {
    .service-text-box {
      width: 100%;
      padding: 2rem 0; } }
  .service-text-box--textFirst {
    text-align: right;
    order: -1; }
    @media only screen and (max-width: 890px) {
      .service-text-box--textFirst {
        order: 2;
        text-align: left; } }

.service-title {
  font-size: 5rem;
  padding: 0 2rem; }
  @media only screen and (max-width: 1060px) {
    .service-title {
      font-size: 3.5rem; } }

.service-text {
  padding: 0 2rem;
  font-size: 1.5rem; }

.project-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0; }

.projects {
  display: flex;
  width: 100%;
  flex-wrap: wrap; }

.appearProjects-enter {
  opacity: 0;
  height: 0; }

.appearProjects-enter-active {
  opacity: 1;
  height: 35rem;
  transition: height 0.5s, opacity 0.5s 0.5s; }
  @media only screen and (max-width: 600px) {
    .appearProjects-enter-active {
      height: 20rem; } }

.appearProjects-enter-done {
  height: 35rem;
  opacity: 1; }
  @media only screen and (max-width: 600px) {
    .appearProjects-enter-done {
      height: 20rem; } }

.appearProjects-exit {
  opacity: 1;
  height: 35rem; }
  @media only screen and (max-width: 600px) {
    .appearProjects-exit {
      height: 20rem; } }

.appearProjects-exit-active {
  opacity: 0;
  height: 0;
  transition: opacity 0.5s, height 0.5s 0.5s; }

.show-projects-btn {
  background-color: transparent;
  border: none;
  outline: none; }

.arrow {
  height: 7rem;
  transition: all 0.5s;
  cursor: pointer;
  transform: rotate(-90deg); }
  .arrow:hover {
    transform: rotate(-90deg) scale(1.2); }
  @media only screen and (max-width: 400px) {
    .arrow {
      height: 4rem; } }

.flip {
  transform: rotate(-90deg) rotateY(180deg); }
  .flip:hover {
    transform: rotate(-90deg) rotateY(180deg) scale(1.2); }

.scale-appear {
  opacity: 0;
  transform: scale(0.5); }

.scale-appear-active {
  opacity: 1;
  transform: scale(1);
  transition: all 0.3s; }

.scale-enter-done {
  opacity: 1;
  transform: scale(1); }

.scale-exit {
  opacity: 1;
  transform: scale(1); }

.scale-exit-active {
  opacity: 0;
  transition: all 0.3s;
  transform: scale(0.5); }

.fade-enter {
  opacity: 0; }

.fade-enter-active {
  opacity: 1;
  transition: all 0.3s; }

.fade-enter-done {
  opacity: 1; }

.fade-exit {
  opacity: 1; }

.fade-exit-active {
  opacity: 0;
  transition: all 0.3s; }

.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center; }

.popup-content {
  background-color: white;
  border-radius: 2px;
  padding: 1rem;
  display: flex; }
  @media only screen and (max-width: 600px) {
    .popup-content {
      flex-direction: column; } }
  @media only screen and (max-aspect-ratio: 5 / 4) and (max-width: 1000px) {
    .popup-content {
      flex-direction: column; } }

.popup-content-left {
  width: 55vw;
  overflow: hidden;
  position: relative; }
  @media only screen and (max-width: 700px) {
    .popup-content-left {
      width: 65vw; } }
  @media only screen and (max-width: 600px) {
    .popup-content-left {
      order: 2;
      width: 88vw; } }
  @media only screen and (max-aspect-ratio: 5 / 4) and (max-width: 1000px) {
    .popup-content-left {
      width: 88vw;
      order: 2; } }

.popup-content-right {
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  @media only screen and (max-width: 600px) {
    .popup-content-right {
      width: 90vw; } }
  @media only screen and (max-aspect-ratio: 5 / 4) and (max-width: 1000px) {
    .popup-content-right {
      width: 90vw; } }

.popup-title {
  font-size: 4rem;
  padding: 1rem 2rem 4rem 2rem; }
  @media only screen and (max-width: 1200px) {
    .popup-title {
      font-size: 3rem;
      padding: 1rem 2rem 3rem 2rem; } }
  @media only screen and (max-width: 900px) {
    .popup-title {
      font-size: 2.3rem;
      padding: 1rem 2rem 2rem 2rem; } }
  @media only screen and (max-width: 700px) {
    .popup-title {
      font-size: 2rem;
      padding: 1rem 2rem 2rem 2rem; } }
  @media only screen and (max-width: 600px) {
    .popup-title {
      padding: 0rem 0rem 1rem 0rem; } }

.popup-description {
  font-size: 2rem;
  padding: 0 2rem 3rem 2rem; }
  @media only screen and (max-width: 1200px) {
    .popup-description {
      font-size: 1.7rem; } }
  @media only screen and (max-width: 900px) {
    .popup-description {
      font-size: 1.2rem; } }
  @media only screen and (max-width: 600px) {
    .popup-description {
      padding: 0 0rem 1rem 0rem; } }

.btn-exit {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  box-sizing: border-box;
  width: 3.5rem;
  height: 3.5rem;
  border: 1px solid #c89d66;
  background-color: transparent;
  border-radius: 100%;
  outline: none;
  cursor: pointer;
  transition: all 0.2s; }
  @media only screen and (max-width: 650px) {
    .btn-exit {
      width: 2rem;
      height: 2rem; } }
  .btn-exit:hover {
    transform: scale(1.2) translateY(-2px); }
  .btn-exit:hover .line--a {
    transform: translate(-50%, -50%) rotate(-45deg); }
  .btn-exit:hover .line--b {
    transform: translate(-50%, -50%) rotate(45deg); }

.line {
  position: absolute;
  width: 80%;
  height: 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #c89d66;
  transition: all 0.2s; }
  .line--a {
    transform: translate(-50%, -50%) rotate(45deg); }
  .line--b {
    transform: translate(-50%, -50%) rotate(-45deg); }

.project-container {
  width: 33.333334%; }
  @media only screen and (max-width: 890px) {
    .project-container {
      width: 50%; } }
  @media only screen and (max-width: 400px) {
    .project-container {
      width: 100%; } }

.project-box {
  border: none;
  outline: none;
  width: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 35rem; }
  @media only screen and (max-width: 600px) {
    .project-box {
      height: 20rem; } }

.project-box:hover .project-foto {
  filter: grayscale(10%) brightness(0.9);
  transform: scale(1.1); }

.project-foto {
  background-size: cover;
  height: 100%;
  transition: all 0.5s;
  filter: grayscale(70%) brightness(0.7); }

.project-text {
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s; }
  @media only screen and (max-width: 600px) {
    .project-text {
      font-size: 2rem; } }

.slider-wrapper {
  display: flex;
  align-items: flex-start;
  transition: all ease-out 0.4s; }

.gallery-foto {
  width: 100%;
  flex-shrink: 0; }

.arrow-btn {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  outline: none;
  height: 15rem;
  border-radius: 2px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer; }
  .arrow-btn:disabled {
    display: none; }
  .arrow-btn--next {
    right: 0; }
  .arrow-btn:hover .arrow-gallery--next {
    transform: rotateY(180deg) scale(1.2); }
  .arrow-btn:hover .arrow-gallery--prev {
    transform: scale(1.2); }

.arrow-icon {
  width: 5rem;
  transition: all 0.2s; }
  @media only screen and (max-width: 900px) {
    .arrow-icon {
      width: 3rem; } }
  .arrow-icon--next {
    transform: rotateY(180deg); }

.gallery-foto-thumbnail {
  width: 7vw;
  transition: all 0.2s; }
  .gallery-foto-thumbnail--active {
    outline: 3px solid #c89d66;
    outline-offset: -3px; }
    @media only screen and (max-width: 850px) {
      .gallery-foto-thumbnail--active {
        width: 10vw; } }
    @media only screen and (max-width: 600px) {
      .gallery-foto-thumbnail--active {
        outline: 1px solid #c89d66;
        outline-offset: -1px;
        width: 12vw; } }
  @media only screen and (max-width: 850px) {
    .gallery-foto-thumbnail {
      width: 10vw; } }
  @media only screen and (max-width: 600px) {
    .gallery-foto-thumbnail {
      width: 12vw; } }

.thumbnail-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer; }

.contact {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 730px) {
    .contact {
      flex-direction: column; } }

.contact-logo {
  width: 40rem;
  height: 40rem; }
  @media only screen and (max-width: 880px) {
    .contact-logo {
      width: 30rem;
      height: 30rem; } }
  @media only screen and (max-width: 380px) {
    .contact-logo {
      width: 20rem;
      height: 20rem; } }

.contact-text {
  cursor: pointer;
  transition: all 0.3s;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 2rem;
  color: #747474;
  font-weight: 100;
  outline: none; }

@media only screen and (max-width: 730px) {
  .low {
    padding-bottom: 3rem; } }

.contact-text:hover {
  cursor: pointer;
  color: #c89d66; }

.img-test {
  width: 10rem; }
