*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body {
  background-color: $color-white; 
  font-family: "Montserrat";
  font-weight: 300;
  color: $color-grey-1;
  font-size: 2rem;
  box-shadow: 0 1rem 2rem rgba(black,.2);
}
